:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
  
  .imgBtn {
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden;
}
  
  .imgBtn:hover {
    opacity:0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal.modal-show {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  .modal.modal-hide {
    animation: fadeOut 0.2s ease-in-out forwards;
  }
  
  .modal-content {
    margin: 10% auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
   .modal.modal-show {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  .modal.modal-hide {
    animation: fadeOut 0.2s ease-in-out forwards;
  }
  
  .closeBtn {
    color: #ccc;
    float: right;
    font-size: 50px;
    padding:0 0.75rem;
    color: #fff;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 15px;
    color:#fff;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 5px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  @media(max-width: 992px) {
    html { font-size: 14px; }
    .modal-content { width: 80%; }
  }

  @media(max-width:767px) {
    html { font-size: 12px; }
    .modal-content { padding: 2rem 1rem 1rem 1rem; }
    .modal-content h1 { margin-bottom: 1.5rem; }
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  